*.py[cod]
*.egg-info
*.eggs
.ipynb_checkpoints

build
builds
dist
.cache
__pycache__

htmlcov
.coverage
coverage.xml
.pytest_cache

docs/_build
docs/apidocs

# ide
.idea
.eclipse

# Private Makefile values - optional include
PrivateRules.mak

# self generated SSL certificates for Ingress
charts/ska-tango-examples/secrets/tls.*

charts/test-umbrella/charts/*
charts/test-umbrella/Chart.lock
telepresence.log
charts/ska-tango-examples/Chart.lock
charts/ska-tango-examples/charts/*
charts/test-parent/Chart.lock
charts/test-parent/charts/*
venv/*
gilab_values.yaml
extract-metadata.sh
MANIFEST.skao.int
patch-metadata.sh
.vscode/settings.json
.vscode/settings.json
