*.py[cod]
*.egg-info
*.eggs
.ipynb_checkpoints

build
builds
dist
.cache
__pycache__

htmlcov
.coverage
coverage.xml
.pytest_cache

docs/_build
docs/apidocs

# ide
.idea
.eclipse

# Private Makefile values - optional include
PrivateRules.mak

# self generated SSL certificates for Ingress
charts/tango-example/secrets/tls.*

charts/test-umbrella/charts/*
charts/test-umbrella/Chart.lock