--extra-index-url https://nexus.engageska-portugal.pt/repository/pypi/simple
pytest
pyyaml
pytest-cov
pytest-json-report
pycodestyle<2.7.0,>=2.6.0a1
pytest-bdd
pytest-forked
pytest-ordering
elasticsearch
kubernetes
assertpy
mock
importlib
elasticsearch-dsl
aiohttp
aiojobs
pytest-asyncio