# Default values for tango-example.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# Pull secrets to add for protected registries - uncomment and adjust:
#
# pullSecrets:
#   - gitlab-registry
#
# and create pull secrets eg:
# kubectl create secret -n <KUBE_NAMESPACE> \
#        docker-registry <PULL_SECRET> \
#        --docker-server=<REGISTRY> \
#        --docker-username=<REGISTRY_USER> \
#        --docker-password=<REGISTRY_PASSWORD> \
#        --docker-email=<USER_EMAIL> 

# Only enable Helm tests when using Tiller
helmTests: true

dsconfig:
  image:
    registry: nexus.engageska-portugal.pt/ska-docker
    image: tango-dsconfig
    tag: latest
    pullPolicy: IfNotPresent

training:
  enabled: true
  image:
    registry: nexus.engageska-portugal.pt/tango-example
    image: training
    tag: latest
    pullPolicy: IfNotPresent

nodeSelector: {}

affinity: {}

tolerations: []
